// _variables.scss

// Colors
$primary-color: rgb(151, 67, 236);
$background-color: white;
$primary-text-color: white;
$second-text-color: black;
$link-color: blue;

// Fonts
$body-font: "Montserrat", sans-serif;
$header-font: fantasy;

// Spacing
$default-padding: 20px;

// Breakpoints
$breakpoint-small: 390px;
$breakpoint-medium: 1233px;
$breakpoint-large: 900px;
$breakpoint-xlarge: 750px;
$breakpoint-xxlarge: 450px;
